bin/
obj/
.vs/
.vscode/
*.user
*.suo

.env
.env.*
!.env.example

build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

*.apk
*.aab
*.exe
*.dll
*.pdb

node_modules/

*.zip
!.env-tajne.zip
